#app {
    /* width: 80%; */
    margin: 0,auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
}